h1 {
  color: grey;
  text-align: center;
}
h2 {
  color: orange;
  font-style: italic;
  text-align: center;
}
p {
  font-family: sans-serif;
}
ul {
  font-family: sans-serif;
}
ol {
  font-family: sans-serif;
}
img.resize {
  max-width: 50%;
  max-height: 50%;
}
