h1 {
  color: grey;
  text-align: center;
}
h2 {
  color: orange;
  font-style: italic;
  text-align: center;
}
p {
  font-family: sans-serif;
}
ul {
  font-family: sans-serif
  font-weight: 900;
}
ol {
  font-family: sans-serif
  font-weight: 900;
}
